/.obsidian/workspace.json
/.obsidian/app.json
/.obsidian/cache/
Thumbs.db
.directory
/.trash/
/.obsidian/plugins/*/data.json
.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
/.quartz-cache
private/
/.replit
replit.nix
quartz/**/.quartz-cache
